<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Tracker</title>
    <%-include('../partials/files.ejs') %>
</head>
<body class="show_page">
    
    <main class="container">
        <div class="header">
            <h1>Plant Log</h1>
            <a class="home" href="/plants">Home</a>
        </div>

        <div class="profile">
            <h2 class="plant_name"><%= plant.name%></h2>
            
            <div class="data">
                Date Acquired: <%= plant.dateAcquired %>
                </br>
                </br>
                Watered: <%= plant.watered %>
                </br>
                </br>
                Fertilized: <%= plant.fertilized %>
                </br>
                </br>
                Variegation: <%= plant.variegation %>
                </br>
                </br>
                Rare: <%= plant.rare %>
                </br>
                </br>
                Notes: <%= plant.notes %>
            </div>
        </div>

        <div class="change_header">
            <a class="edit_link" href="/plants/<%=plant._id%>/edit"><button class="edit">Edit</button></a>
            <form class="delete" method="post" action="/plants/<%=plant._id%>?_method=DELETE">
                <input class="delete" type="submit" value="Delete Log">
            </form>
        </div>
    </main>

</body>
</html>